@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
/* Font family */
/* Colors */
/* Font sizes */
:root {
  font-family: quicksand;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  max-width: 144rem;
  min-width: 30rem;
  margin: 0 auto;
  color: #777779;
}

.logo {
  width: 42px;
  height: 42px;
}
.logo:hover {
  cursor: pointer;
}

.header {
  position: relative;
  padding: 1rem;
  box-shadow: 0px 4px 5px 0px rgba(75, 93, 104, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btn-menu {
  width: 42px;
  height: 42px;
  display: grid;
  place-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
  position: relative;
}
.header__btn-menu-close {
  width: 100%;
}
.header__btn-menu--open:hover {
  cursor: pointer;
  stroke: #4B5D68;
  transform: scale(1.08);
}
.header__btn-menu--close {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.header__btn-menu--close:hover {
  cursor: pointer;
  transform: translateX(-50%);
  stroke: #9C69E2;
}
.header .nav-principal {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.header .nav-principal__container {
  width: 70%;
  height: 100vh;
  right: 0;
  z-index: 100;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: rgba(125, 59, 236, 0.1) 0px 10px 15px -3px, rgba(125, 59, 236, 0.05) 0px 4px 6px -2px;
}
.header .nav-principal__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
}
.header .nav-principal__menu-link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #212353;
  transition: all 0.3s ease;
}
.header .nav-principal__menu-link:hover {
  color: #9C69E2;
  transform: scale(1.1);
}

.hero {
  margin: 3rem 0 1rem;
  min-height: 40rem;
}
.hero__image {
  width: 100%;
  height: 20rem;
  display: block;
  margin: 0 auto;
}
.hero__content {
  padding: 1rem;
}
.hero__title {
  color: #212353;
  font-size: 2.8rem;
}
.hero__btn-about-me {
  margin: 4rem 0 4rem;
  padding: unset;
  width: 18rem;
  height: 4.2rem;
  display: flex;
  place-content: unset;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  color: #212353;
  background-color: #FFFFFF;
  border: 2px dashed #212353;
  transition: all 0.3s ease;
  align-items: center;
}
.hero__btn-about-me:hover {
  cursor: pointer;
  background-color: #212353;
  color: #FFFFFF;
  border: none;
  transform: scale(1.03);
}
.hero__btn-about-me:hover svg {
  stroke: #FFFFFF;
}
.hero__btn-about-me svg {
  margin: 0 2rem;
}

.main .about-me {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.main .about-me__my-photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 25rem;
  background: url("../images/my-photo.svg") no-repeat;
  background-size: 100%;
  background-position: center;
}
.main .about-me__container {
  border-top: 2px dashed #CFD6DA;
  border-bottom: 2px dashed #CFD6DA;
}
.main .about-me__title, .main .contact-me__title {
  text-indent: 4rem;
  color: #212353;
  margin: 4rem 0 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
}
.main .about-me__description {
  text-indent: 4rem;
  text-align: justify;
  color: #777779;
  font-weight: 600;
  line-height: 2.9rem;
  letter-spacing: 0.12rem;
  font-size: 1.8rem;
}
.main .about-me__description strong {
  color: #4B5D68;
}
.main .about-me__btn-go-portfolio {
  margin: 4rem 0 4rem;
  padding: unset;
  width: 20rem;
  height: 4.5rem;
  display: flex;
  place-content: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  color: #212353;
  background-color: #FFFFFF;
  border: 2px dashed #212353;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: space-evenly;
}
.main .about-me__btn-go-portfolio:hover {
  cursor: pointer;
  background-color: #212353;
  color: #FFFFFF;
  border: none;
  transform: scale(1.03);
}
.main .about-me__btn-go-portfolio:hover svg {
  stroke: #FFFFFF;
}
.main .contact-me {
  padding: 4rem 0 0;
  text-align: center;
}
.main .contact-me__title {
  text-indent: unset;
  color: #212353;
  margin-bottom: 3rem;
}
.main .contact-me .form {
  background-color: #212353;
  padding-bottom: 1rem;
}
.main .contact-me .form__fieldset {
  border: none;
  padding: 2rem;
}
.main .contact-me .form__title {
  color: #FFFFFF;
  padding: 2rem 0;
  font-size: 2rem;
}
.main .contact-me .form__fields {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.main .contact-me .form__field {
  font-weight: 600;
  width: 100%;
  height: 4.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
}
.main .contact-me .form__field-message {
  resize: none;
  padding: 1rem;
  height: 15rem;
}
.main .contact-me__btn-contact-me {
  margin: 5rem auto 3rem;
  padding: unset;
  width: 18rem;
  height: 4.5rem;
  display: grid;
  place-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  color: #212353;
  background-color: #FFFFFF;
  border: none;
  transition: all 0.3s ease;
}
.main .contact-me__btn-contact-me:hover {
  cursor: pointer;
  background-color: #68C9BA;
  color: #FFFFFF;
  border: none;
  transform: scale(1.03);
}

.footer {
  background-color: #34323D;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  margin: 1.5rem 0 3rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer__nav-menu {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  transition: all 0.3s ease;
}
.footer__nav-menu:hover {
  color: #9C69E2;
  transform: scale(1.1);
}
.footer .socials__link {
  text-decoration: none;
}
.footer .socials__link svg {
  stroke: #FFFFFF;
}
.footer .socials__link svg:hover {
  fill: #212353;
}

@media (min-width: 680px) {
  .logo {
    width: 64px;
    height: 64px;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 2rem 2rem 0;
  }
  .header__btn-menu {
    display: none;
  }
  .header .nav-principal {
    visibility: visible;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: unset;
  }
  .header .nav-principal__container {
    position: relative;
    height: 6rem;
    box-shadow: none;
  }
  .header .nav-principal__menu {
    flex-direction: row;
    padding-top: 1rem;
    height: 100%;
  }
  .header .nav-principal__menu-link {
    height: 100%;
    font-size: 2.4rem;
  }
  .header .nav-principal__menu-link:hover {
    border-bottom: 1px solid #9C69E2;
  }
  .hero {
    margin: 14rem auto 4rem;
  }
  .hero__image {
    width: 80%;
    height: 100%;
  }
  .hero__title {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
  }
  .hero__btn-about-me {
    margin: 5rem auto;
    width: 24rem;
    height: 5rem;
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    font-weight: 700;
  }
  .hero__btn-about-me svg {
    margin: 0 2rem;
  }
  .main .about-me {
    padding: 0 2rem 2rem;
    margin-bottom: 2rem;
  }
  .main .about-me__my-photo {
    height: 50rem;
    width: 98%;
  }
  .main .about-me__title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4.2rem;
  }
  .main .about-me__description {
    padding: 0 3rem;
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
  }
  .main .about-me__btn-go-portfolio {
    margin: 6rem auto;
    padding: 0 1rem;
    height: 5.5rem;
    width: 32rem;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .main .contact-me__title {
    padding: 0 2rem;
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }
  .main .contact-me .form__fieldset {
    padding: 3rem 4rem 0;
  }
  .main .contact-me .form__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .main .contact-me .form__fields {
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  .main .contact-me .form__field {
    padding: 0 2rem;
    height: 5rem;
    font-size: 2.4rem;
  }
  .main .contact-me .form__field:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .main .contact-me .form__field-message {
    font-size: 2.4rem;
    padding: 2rem;
    height: 25rem;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .main .contact-me__btn-contact-me {
    margin: 6rem auto;
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    font-weight: 700;
  }
  .footer {
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__nav {
    padding-top: 2.2rem;
    width: 34rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__nav-menu {
    font-size: 2.2rem;
  }
  .footer .socials__link {
    margin-left: 1rem;
  }
  .footer .socials__link svg {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 48px;
    height: 48px;
  }
  .header {
    z-index: 1;
    padding: 1.5rem 4rem 0;
  }
  .header__btn-menu {
    display: none;
  }
  .header .nav-principal {
    visibility: visible;
    justify-content: flex-end;
  }
  .header .nav-principal__container {
    width: 45rem;
    height: 5rem;
  }
  .header .nav-principal__menu {
    justify-content: space-between;
  }
  .header .nav-principal__menu-link {
    font-size: 2rem;
  }
  .header .nav-principal__menu-link:hover {
    border-bottom: 2px solid #9C69E2;
  }
  .hero {
    margin: 10rem auto 4rem;
    position: relative;
  }
  .hero__image {
    width: 70%;
  }
  .hero__content {
    animation: fadeInLeft;
    animation-duration: 1.5s;
    box-shadow: rgba(125, 59, 236, 0.1) 0px 10px 15px -3px, rgba(125, 59, 236, 0.05) 0px 4px 6px -2px;
    width: 60rem;
    height: 35rem;
    position: absolute;
    bottom: 4.5rem;
    left: 1rem;
    background-color: #FFFFFF;
  }
  .hero__title {
    padding: 0 3.5rem;
    font-size: 3.2rem;
    max-width: 55rem;
    text-align: left;
  }
  .hero__btn-about-me {
    margin: 4rem auto 0;
    width: 22rem;
    height: 4.5rem;
    font-size: 2rem;
  }
  .main .about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
    padding: 2rem;
    margin: 4rem 2rem;
  }
  .main .about-me__my-photo {
    width: 40%;
    background: url("../images/my-photo-desktop.svg");
    background-size: cover;
  }
  .main .about-me__container {
    padding-top: 4rem;
    width: 60%;
  }
  .main .about-me__title {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }
  .main .about-me__description {
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  .main .about-me__btn-go-portfolio {
    margin: 5rem auto 6rem;
    height: 4.5rem;
    width: 24rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .main .contact-me {
    padding-top: 1rem;
  }
  .main .contact-me__title {
    font-size: 2.8rem;
    width: max-content;
    margin: 0 auto 5rem;
  }
  .main .contact-me .form__fieldset {
    padding: 3rem 35rem 0;
  }
  .main .contact-me .form__title {
    font-size: 2.4rem;
  }
  .main .contact-me .form__field {
    padding: 0 1rem;
    font-size: 2rem;
  }
  .main .contact-me .form__field-message {
    font-size: 2rem;
    padding: 1rem;
    height: 24rem;
  }
  .main .contact-me__btn-contact-me {
    margin: 5rem auto;
    width: 18rem;
    height: 4.5rem;
    font-size: 2rem;
  }
  .footer {
    padding: 0 4rem;
  }
  .footer__nav {
    margin: 0;
    padding-top: 2rem;
    width: 45rem;
    justify-content: space-around;
  }
  .footer__nav-menu {
    font-size: 2rem;
  }
  .footer .socials__link svg {
    width: 36px;
    height: 36px;
  }
}
/* display utility */
.none {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.menu-active {
  color: #9C69E2 !important;
  border-bottom: 2px solid #9C69E2;
}

.pulse {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #4E4DED;
  border: 0;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  animation: shadow-pulse 1s infinite;
  cursor: pointer;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}
.header__btn-menu {
  z-index: 1000;
}

button .translate {
  transition: transform 0.25s ease-in-out;
  transition-delay: 0.25s;
}

button .rotate {
  transition: transform 0.25s ease-in-out;
  transition-delay: 0s;
}

button.open .translate {
  transform: translateY(0);
  transition-delay: 0s;
}

button.open .rotate {
  transform: rotate(0);
  transition-delay: 0.25s;
}

/*# sourceMappingURL=styles.css.map */
